<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penbox Phone Parser for Rain Makers 💰</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/libphonenumber-js/bundle/libphonenumber-js.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script defer src="phoneParser.js"></script>
</head>
<body class="p-5">
    <div id="app" class="container mx-auto">
        <h1 class="text-2xl font-bold mb-4">Penbox Phone Parser for Rain Makers 💰</h1>
        <div class="mb-3">
            <input type="checkbox" id="leadingApostrophe" v-model="leadingApostrophe" checked>
            <label for="leadingApostrophe"> Add leading apostrophe</label>
        </div>
        <div class="flex">
            <textarea v-model="inputText" class="flex-1 p-2 border border-gray-300 mr-2" placeholder="Enter phone numbers here" rows="40"></textarea>
            <textarea readonly class="flex-1 p-2 border border-gray-300" :value="parsedText" rows="40"></textarea>
                    </div>
    </div>
</body>
</html>
